/* 메인내용 */
section {
    width: inherit;
    height: 800px;
    position: relative;
    top: 100px;
    color: #333;
    /* border: 1px solid blue; */
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #ccc;
}
::-webkit-scrollbar-thumb {
    background: #333;
}
::-webkit-scrollbar-thumb:hover {
    background: white;
}
#about {
    font-size: 30px;
    font-weight: bolder;
    width: 850px;
    height: 50px;
    /* border: 1px solid red; */
    margin: 30px 0 20px 0;
    color: #333;
}
#content {
    color: #333;
    height: 500px;
    column-count: 2;
    column-gap: 20px;
    /* border: 1px solid red; */
}
#content p {
    font-size: 16px;
    line-height: 150%;
    float: left;
}
#content ul li {
    list-style: none;
    margin: 3px 0;
    float: right;
    /* padding: 10px; */
}
#content input {
    padding: 10px 15px;
    width: 370px;
    font-size: 16px;
}
#content button {
    color: white;
    float: right;
    padding: 10px 50px;
    background-color: #2c3c3f;
    border: none;
}
#content button:hover {
    background: #222;
    color: white;
    cursor: pointer;
}
#content li textarea {
    resize: none;
    padding: 10px 14px;
    font-family: '맑은고딕';
    font-size: 16px;
}